header{
    /* animation: nav-load 700ms ease-out; */
    position: sticky;
    z-index: 100;
    /* margin-left: 5rem; */
    background-color: white;
    padding: 15px 0px;
    width: 100%;
    margin-top: -1px;
    top: 0;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    /* border-bottom: 1px solid #000000; */
}


@keyframes nav-load{
    0%{
        transform: translateY(-100%);
    }

    100%{
        transform: translateY(0);
    }
}

.title{
    margin-left: 2rem;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* margin-left: 4.3rem; */
}

.title span{
    color: var(--dark-blue);
}
/* 
header ul {
    display: inline-block;
} */

.nav-pc{
    display: inline-block;
    /* vertical-align: middle; */
    position: absolute;
    left: 0;
    right: 0;
}

.drop{
    width: 138px;
}

.drop .dropbtn{
    color: var(--black);
    margin-left: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    padding: 5px 18px;
}

.navbar{
    margin-top: -5px;
    text-align: center;
}

.navbar li a, .dropbtn{
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
}

li.drop {
    display: inline-block;
}

.dropbtn:hover{
    color: var(--white);
    background-color: var(--dark-blue);
    border-radius: 30px;
    transition: var(--transition);
}

.drop-content{
    display: none;
    position: absolute;
    background-color: var(--blue);
    width: 155px;
    z-index: 1000000;
    margin-left: -2px;
    border-radius: 3.5%;
    margin-top: 1.5px;
}

.drop-content span {
    color: var(--white);
    display: block;
    text-align: center;
    margin-top: 5px;
    font-weight: 700;
    width: 145px;
}

.drop-content li{
    text-align: center;
    padding: 5px 0px;
}

.drop-content li:hover span:hover{
    background-color: var(--soft-blue);
    transition: var(--transition);
    border-radius: 3.5%;
    color: #000000;
    padding: 7px 0px;
}

/* 
.drop-content li span:hover{
    color: var(--white);
} */

.drop:hover > .drop-content {
    display: block;
  }

.sosmed-nav{
    display: flex;
    /* margin-left: 43px; */
    position: absolute;
    right:30px;
}

.sosmed-nav li{
    margin-left: 48px;
}

.sosmed-nav svg{
    height: 25px;
    width: 25px;
    fill: #000000;
}

.sosmed-nav svg:hover{
    fill: var(--dark-blue);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover > .dropdown-content {
  display: block;
}

#menu-nav{
    display: none;
    cursor: pointer;
}

.nav{
    display: none;
}

.nav-cxb svg{
    height: 58px;
    width: 58px;
    fill: black;
    /* margin-left: 20px; */
    display: none;
}

#nav-check{
    display: none;
}



/*=========================== MEDIA QUERIES (SMALL DEVICES)==========================*/
@media screen and (max-width: 600px){

    .sosmed-nav{
        display: none;
    }

     /* .drop-content {
        display: none;
      } */

     .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
      }

      .nav-btn > label {
        display: inline-block;
        width: 33px;
        height: 33px;
        padding: 13px;
      }

      .nav-btn > label > span {
        display: block;
        width: 33px;
        height: 10px;
        border-top: 2px solid #000000;
        
      }

      .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: var(--soft-blue);
      }

      .nav-pc {
        position: absolute;
        display: grid;
        width: 100%;
        background-color: white;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        /* left: -100px; */
        
      }

      .nav-pc > .drop{
        /* background-color: red; */
         position: relative;
        /* left: 30%; */
        /* border-bottom: 2px solid black; */
        width: 85%;
      }


      .nav-pc >.drop > a {
        display: block;
        width: 100%;
        text-align: center;
        left: auto;
        right: auto;
      }
     
      #nav-check:not(:checked) ~ .nav-pc {
        height: 0px;
      }

      #nav-check:checked ~ .nav-pc {
        height: calc(100vh - 75vh);
        overflow-y: auto;
      }

      #nav-check:checked ~ .nav-pc > .drop:hover > .drop-content{
        display: none;
      }
    
}