.intro-container{
    height: 95vh;
    margin-top: -135px; 
    display:flex; flex-direction:column;
    flex: 1;
}

.wrapper{
    margin-top: 50px;
    height: 110vh;
    background-image: url(../../assets/icebg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /* padding: 50px; */
    z-index: -10;
}

.intro-text{
    margin-top: 270px;
    margin-left: -50px;
}

.text h2, h1{
    z-index: 10;
    position: relative;
    margin-left: 50px;
}

.intro-text h2{
    font-weight: 700;
    line-height: 29px;
    margin-top: 30px;
}

.name{
    font-weight: 700;
    font-size: 60px;
    line-height: 48px;
    color:var(--black);
    margin-top: 14px;
}

.name span{
    color: var(--dark-blue);
}

.intro-button{
    /* margin-left: 50px; */
    margin-top: 50px;
}

/* .intro-button button{
    margin-left: 20px;
} */

.button1 a{
    color: white;
}

.button1 a:hover{
    color: var(--dark-blue);
}

/* .rafi1{
    position: absolute;
    height: 327px;
    width: 317px;
    left: 750px;
    margin-top: -258px;
    background: linear-gradient(180deg, #03045E 0%, rgba(3, 4, 94, 0) 100%);
    border: 2px solid #00B4D8;
    backdrop-filter: blur(5px);
    z-index: 10;

    border-radius: 100px;
} */

/* .intro-img::after{
    background: linear-gradient(214.83deg, #03045E 14.26%, rgba(3, 4, 94, 0) 76.71%);
    transform: rotate(178.32deg);
    content: '';
    height: 178px;
    width: 178px;
    position: absolute;
    right: 0.5%;
    margin-top: -310px;
    border-radius:50% ;
    z-index: 1;
} */

/* ====================================== About US ============================================== */

.me-container{
    background-color: #292929;
    width: 100%;
    height: 100vh;
}

.me-flex{
    display: flex;
}

.me-img{
    height: 350px;
    /* width: 314px; */
    /* transform: rotate(7deg); */
    margin-top: 100px;
    transition: var(--transition);
    animation: botol 3s linear infinite;
    position: relative;
}


@keyframes botol{
    /* 0%{
        top: 0px;
    }

    50%{
        top: 20px;
    }

    100%{
        top: 0px;
    } */

    0%{
        transform: rotate(5deg);
    }

    50%{
        transform: rotate(-5deg);
    }

    100%{
        transform: rotate(5deg);
    }
}


.me-img-cont::before{
    background: linear-gradient(227.1deg, #90E0EF 13.8%, rgba(217, 217, 255, 0) 92.25%);
    transform: rotate(-31.92deg);
    content: '';
    height: 292px;
    width: 292px;
    position: absolute;
    border-radius:50% ;
    left:-170px;
    margin-top: 255px;
    z-index: 1;
}


.me-img:hover{
    transform: rotate(0deg);
}

.me-text{
    margin-top: 140px;
    margin-left: 50px;
}

.me-text::before{
    background: linear-gradient(227.1deg, #90E0EF 13.8%, rgba(217, 217, 255, 0) 92.25%);
    transform: rotate(98.98deg);
    content: '';
    height: 131px;
    width: 131px;
    position: absolute;
    border-radius:50% ;
    right:20px;
    margin-top: -90px;
    z-index: 1;
}

.me-title{
    color: var(--dark-blue);
    font-weight: 700;
    font-size: 28px;
    line-height: 29px;
}

.me-parag{
    width: 650px;
    font-weight: 300;
    font-size: 20px;
    line-height: 34px;
    margin-top: 15px;
    
}

/* .me-parag b, .me-parag i{
    color: var(--soft-blue);
} */

.me-text button{
    margin-top: 30px;
}

.btnme1{
    margin-left: 20px;
}

/* ================================== Menu ========================================== */
.prinsip-container{
    margin-top: 7rem;
}

.prinsip-title{
    color: var(--dark-blue);
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 48px;
}

.prinsip-btn{
    text-align: center;
    padding: 1rem;
}

.prinsip-content{
    margin:5rem 6rem;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}

.prinsip-container::before{
    background: linear-gradient(227.1deg, #90E0EF 13.8%, rgba(217, 217, 255, 0) 92.25%);
    transform: rotate(-121.97deg);
    content: '';
    height: 292px;
    width: 292px;
    position: absolute;
    border-radius:50% ;
    left:-50px;
    margin-top: 355px;
    z-index: 1;
}

.prinsip-container::after{
    background: linear-gradient(227.1deg, #90E0EF 13.8%, rgba(217, 217, 255, 0) 92.25%);
    transform: rotate(-121.97deg);
    content: '';
    height: 225px;
    width: 225px;
    position: absolute;
    border-radius:50% ;
    right:50px;
    margin-top: -385px;
    z-index: 1;
}

.prinsip-item{
    color: #000;
    border-radius: 16px;
    padding: 7px;
    width: 207px;
    height: 207px;
    background: #FFFFFF;
    
    border: 2px solid #0C4DA2;
    border-radius: 30px;
}


.prinsip-img{
    width: 162px;
    height: 101px;
    margin-top: 1rem;
    border-radius: 10px;
}


.prinsip-desc{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-top: 2rem;
}

/*=========================== MEDIA QUERIES (SMALL DEVICES)==========================*/
@media screen and (max-width: 600px){

    .wrapper{
        height: 40vh;
        width: 100vw;
        background-size: contain;
        margin-top: 10rem;
    }

    .intro-text{
        margin-top: 70px;
        margin-left: -50px;
    }

    .name{
        font-weight: 700;
        font-size: 25px;
        line-height: 38px;
        color:var(--black);
        margin-top: 14px;
    } 

    .intro-text h2{
        font-weight: 700;
        line-height: 19px;
        margin-top: 14px;
        font-size: 16px;
    }

    .intro-button{
        margin-top: 20px;
        margin-left: 3px;
    }

    .intro-button button{
        height: 37px;
        font-size: 15px;
        padding: 3px 20px;
    }

    /* ====================================== About US ============================================== */

    .me-container{
        width: 120vw;
        margin-left: -40px;
    }

    .me-flex{
        display: grid;
    }

    .me-img{
        height: 350px;
        margin-top: 10px;
        /* margin-left: 10px; */
    }


    .me-text{
        margin-top: 40px;
        margin-left: 20px;
    }

    .me-title{
        text-align: center;
        margin-left: -45px;
    }

    .me-parag{
        width: 300px;
        line-height: 28px;
    }

    .me-text::before, 
    .me-img-cont::before, 
    .prinsip-container::before, 
    .prinsip-container::after{
       display: none;
    }

    .btn-cont{
        margin-left: 40px;
    }

    /* ================================== Menu ========================================== */
    .prinsip-container{
        width: 120vw;
        margin-left: -40px;
    }
    
    .prinsip-item{
        width: 247px;
        height: 237px;
    }

    .prinsip-img{
        width: 182px;
        height: 121px;
        margin-top: 1rem;
        border-radius: 10px;
    }
}